<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Usuario</title>

    <link rel="stylesheet" href="/login.css">
</head>
<body>

<div class="login">

    <h1>KinalApp</h1>

    <form action="/login" method="post">

        <input type="text"
               name="username"
               placeholder="Usuario"
               required>

        <input type="password"
               name="password"
               id="password"
               placeholder="Contraseña"
               required>

        <button type="submit">
            Ingresar
        </button>

    </form>

</div>

</body>
</html>